TG_API_ID=
TG_API_HASH=
TG_CHANNEL=https://t.me/Studentlarga_kvartira_bezmakler
TG_CONTACT_BOT=
SINCE_DATE=2024-04-01
# Optional Yandex geocoding
# Optional Yandex geocoding
YANDEX_API_KEY=
YANDEX_RPS=5
YANDEX_CITY=Tashkent, Uzbekistan
